<% include partials/header %>

<div class="container">
  <h1>Login!</h1>
  
  <form action="/login" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login!">
  </form>
</div>

<% include partials/footer %>