<!-- 

NEW Campground 

--> 
<% include ../partials/header %>

<div class="container">
  <div class="row">
    <h1 style="text-align: center">Create A New Campground</h1>
    
    <div style="width: 30%; margin: 30px auto;">
      <form action="/campgrounds" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="campground[name]" placeholder="Name">
        </div>
        <div class="form-group">
          <input class="form-control" type="number" name="campground[price]" placeholder="Price" min="0.01" step="0.01">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="campground[img]" placeholder="Campground Image url">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="campground[desc]" placeholder="Description of Campground">
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-default btn-primary btn-block">Submit!</button>
        </div>
      </form>
      <a href="/campgrounds">Go Back</a>
    </div>
  </div>
</div>

<% include ../partials/footer %>
