<!-- 

SHOW Campground 

--> 

<% include ../partials/header %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">Yelp Camp</p>
      <div class="list-group">
        <li class="list-group-item active">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
      </div> <!-- list-group --> 
      <a class="btn btn-default btn-primary" href="/campgrounds">Go Back</a>
    </div> <!-- col-md-3 --> 
    
    <div class="col-md-9">
      <div class="thumbnail">
        <img class="img-responsive" src ="<%= campground.img %>">
        <div class="caption-full">
          <h4 class="pull-right">$<%= campground.price %>/night</h4>
          <h4><a><%= campground.name %></a></h4>
          <p><%= campground.desc %></p>
          <p>
            <em>Submitted By: <%= campground.author.username %></em>
          </p>
          <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
            <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
            <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method=POST>
              <button class="btn btn-danger">Delete</button>
            </form>   
          <% } %>
        </div>
      </div> <!-- thumbnail --> 
      
      <div class="well">
        <div class="text-right">
          <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
        </div>
        <hr>
        <!-- Show all comments -->
        <% campground.comments.forEach(function(comment){ %>
          <div class="row">
            <div class="col-md-12">
              <strong><%= comment.author.username %></strong>
              <span class="pull-right">10 days ago</span>
              <p>
                <%= comment.text %>
              </p>
              <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                <a class="btn btn-xs btn-warning" 
                   href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
                   Edit
                </a>
                <form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method=POST>
                  <button class="btn btn-xs btn-danger">Delete</button>
                </form> 
              <% } %> 
            </div>
          </div> 
             
          </p>
        <% }); %>
        
      </div>
      
    </div> <!-- col-md-9 -->
  </div> <!-- row -->
</div> <!-- container --> 


<% include ../partials/footer %>