body {
  /*background: linear-gradient(to right, #dd1818, #333333);*/
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #bdc3c7, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #bdc3c7, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ul {
  list-style-type: none;
}

/* All img tags inside of thumbnail class */
.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

/* Caption-full class inside of thumbnail class */
.thumbnail .caption-full{
  padding: 9px;
}

.delete-form {
  display: inline;
}

/*img {*/
/*  height: 400px;*/
/*  width: 400px; */
/*}*/

